.product-carousel {
    display: grid;
    min-height: 300px;
    grid-template-columns: 100px 1fr 100px;

    .product-carousel__slides {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        img {
            width: 100%;
        }
    }
}